.head-title{
    display: flex;
    justify-content: space-between;
    margin: 24px 80px;
    font-family:"Fira Sans", serif;
}
.fast-btn{
    padding: 0px 30px;
    color: #006A50;
    border-radius: 5px;
    border-color: #006A50;
    font-size: 20px;
    font-weight: 600;
}
.fast-title{
    padding: 60px 0px;
    /* margin: 12px 160px; */
    /* font-weight: bold; */
    /* font-size: 67px; */
}
.fast-head{
    font-weight: bold;
    font-size: 67px;
    font-family:"Fira Sans", serif;
}
.fast-p{
    font-size: 20px;
    color: #0E0E0E;
}
.fast-h{
    font-weight:600;
}
.btn{
    background-color: #006A50;
    color: white;
    padding: 13px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.fast-bg{
    display: flex;
    justify-content: space-between;
    /* margin: 0 160px; */
    background-color: #C6E4D6;
    padding:20px 70px;
    border-radius: 10px;
    margin: 10px 60px;
}
nav{
    font-family:"Fira Sans", serif;
}
.the-vision{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    /* border-radius: 10px; */
    border: none;
    border-radius: 10px;
    /* margin: 0 90px; */
    margin: 10px 15px;
}
.second-bg{
    /* margin: 20px 160px; */
    margin: 40px 60px;
    color: #0E0E0E;
    /* color: red; */
    font-family:"Fira Sans", serif;
}
.second-head{
    font-weight: bold;
    font-size: 40px;
}
.raju{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 10px;
}
.sam{
    background-color:rgba(198, 228, 214, 1) ;
    padding: 32px;
    border-radius: 10px;
}
.babu{
    background-color:rgba(247, 235, 207, 1) ;
    padding: 32px;
    border-radius: 10px;
   
}
.raju-btn{
    background-color:rgba(84, 144, 245, 1) ;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
.sam-btn{
    background-color: rgba(9, 161, 92, 1);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;

}
.babu-btn{
    background-color:rgba(255, 194, 57, 1) ;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;

}
.satelite{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(247, 241, 241);
    /* background-color: #006A50; */
    padding: 48px 48px;
    border-radius: 20px;
}
.third-bg{
    font-family:"Fira Sans", serif;
    margin: 40px 60px;
}
.News{
    font-weight: bold;
    font-size: 40px;
}
.all-btn{
    background-color:rgba(0, 106, 80, 1) ;
    color:white ;
    font-weight:600;
    font-size:15px ;
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
    h

}
.img-padding{
    border: none;
    border-radius: 15px;
   
}
.margin-2{
    font-family:"Fira Sans", serif;
    margin: 40px 60px;

}
.text-color{
    color: rgba(14, 14, 14, 0.7);
}
.last-btn{
    background-color: rgb(243, 235, 235);
    padding: 40px;
    font-size:40px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
.all-center{
    text-align: center;
    align-items: center;
}
.input-mar{
    margin: 30px 0;
    width: 100%;
    height: 20px;
    size: 50px;
    /* background-color: rgb(104, 28, 28); */
    /* border: none; */
}
input[type="text"]{
    width: 50%;
    height: 20px;
    border-color: rgb(255, 255, 255) ;
    /* size: 50px; */
    padding: 20px;
    /* border: none; */
    background-color: rgb(245, 238, 238);
}
.btn-mar{
    margin: 32px 0;
}
input::placeholder{
    font-weight: 600;
    text-align: center;
    font-size: 17px;
    color: rgba(14, 14, 14, 0.3);
}
.n-gap{
    background-color: rgba(198, 228, 214, 1);
}
.challeng{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    margin: 10px 60px;
    padding:30px 100px;
    border-radius: 10px;
}
input[type="email"]{
    width: 40%;
    height: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px 0px 0 10px;
    border-radius: left top;
    border: none;

}
.Subscribe{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.Subscribe button{
    position:relative;
    right: 0;
    
}
input button{
    position: absolute;
    /* border: red; */
}
.end-btn{
    background-color:rgba(0, 106, 80, 1) ;
    padding: 16px;
    border-radius: 0 10px 10px 0 ;
    border: none;
    font-size: 17px;
    color: white;

}
.bolder{
    font-weight:bold;
    font-size: 40px;
}
.Subscribe input::placeholder{
    text-align: left;
}
.challeng-sec{
    font-family:"Fira Sans", serif;


}
.bg-cot{
    background-color:rgba(238, 229, 229, 0.15);
    padding: 20px 40px;
    border-radius: 20px;
   

}
.bg-img {
    background-image: url("../assets/quote-bg.png");
    /* background: no-repeat; */
    background-repeat: no-repeat;
    background-position: top left;
    margin: 20px 70px;
    border-radius: 10px;

}
.end-btn:hover{
    background-color:rgb(49, 181, 233);
}
.all-btn:hover{
    background-color: purple;
}
.last-btn:hover{
    background-color: skyblue;
}
.raju-btn:hover{
    background-color: palevioletred;
}
.babu-btn:hover{
    background-color: palevioletred;
}
.sam-btn:hover{
    background-color: palevioletred;
}
.btn:hover{
    background-color: rgb(218, 13, 13);
}
.finis-bg{
    text-align: center;
    margin: 60px 30px;
    gap: 40px;
    font-family:"Fira Sans", serif;
}
hr{
    width: 50%;
    
}
.color{
    /* border-color: gold; */
    border: rgb(243, 237, 237);
    background-color: rgb(245, 239, 239);
    height: 4px;
}
/* .need-gap{ */
    /* gap: 20px; */
    /* justify-content: space-between; */
    /* padding: 20px; */
/* } */